.hidden {
    display: none;
}

.image-crop-canvas {
    border: 1px solid red;
}

.draggable-shape {
    position: relative;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
    left: 0;
    top: 0;
}

.draggable-shape .icon {
    position: absolute;
    top: .2rem;
    left: .2rem;
}